*{
    box-sizing: border-box;
}
header{
background-color: aquamarine;
background-image: linear-gradient(to bottom right, rgb(233, 233, 58),lime);
padding: 15px;
}
.menu ul{
list-style-type: none;
margin: 0;
padding: 0;
}
.menu li{
padding: 5px;
margin-bottom: 10px;
background-color: rgb(3, 77, 77);
/* background-image: linear-gradient(to right, rgba(5,85,85,0),rgb(184, 221, 221)); */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.row::after{
content: "";
clear: both;
display: table;
}
[class*="col-"]{
float: left;
padding: 15px;
}
.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}

aside{
background-color: rgb(5, 85, 85);
background-image: linear-gradient(lightblue,lightgreen,grey);
padding: 15px;
text-align: center;
font-size: 16px;
}
footer{
background-color: aquamarine;
padding: 15px;   
}
@media only screen and (max-width: 425px) {
[class*="col-"]{
    width: 100%;
}
}

.colr{
background-image: radial-gradient(pink 5%,lime 15%,grey 60%);
}
h1{
color: white;
text-shadow: 2px 2px 4px black;
}
h2{
text-shadow: 0 0 3px red, 0 0 5px blue;
}